{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
<table class="table table-striped table-dark table-hover">
    <thead>
        <th>Symbol</th>
        <th>Name</th>
        <th>Shares</th>
        <th>Price</th>
        <th>Total</th>
    </thead>
    <tfoot>
        <tr>
            <td colspan="4"></td>
            <td style="font-weight:700;">{{cash_total}}</td>
        </tr>
    </tfoot>
    <tbody>
        {%for element in table%}
            <tr>
                <td>{{element["symbol"]}}</td>
                <td>{{element["name"]}}</td>
                <td>{{element["shares"]}}</td>
                <td>{{element["price"]}}</td>
                <td>{{element["total"]}}</td>
            </tr>
        {%endfor%}
        <tr>
            <td colspan="4">CASH</td>
            <td>{{cash}}</td>
        </tr>
    </tbody>
</table>
{% endblock %}